<!DOCTYPE html>
<html>
<head>
    <title>Статистика по странам</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navigation">
    <a href="{{ url_for('index') }}" class="back-button">← На главную</a>
    </div>
    <h1>Статистика по странам</h1>
    
    <table border="1">
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in stats %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }} м</td>
                <td>{{ row[3] }} м</td>
                <td>{{ row[4] }} м</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>